<% layout("./common/boilerplate") %>
<head>
	<link rel="stylesheet" href="/vendor/splide/splide.min.css" />
	<link rel="stylesheet" href="/star-rating/star-rating.min.css" />
	<link rel="stylesheet" href="/vendor/star-rating/custom-star-rating.css" />
</head>
<div class="spot">
	<section class="spot__action">
		<div id="map" class="spot__map"></div>
		<div class="spot__buttons">
			<a
				target="_blank"
				href="<%= googleMapsUrl %>"
				class="btn btn--primary"
				>Open in Google Maps
				<span class="btn__icon">
					<svg
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						xmlns="http://www.w3.org/2000/svg">
						<path
							fill-rule="evenodd"
							clip-rule="evenodd"
							d="M5 18C5 18.55 5.45 19 6 19H18C18.55 19 19 18.55 19 18V13C19 12.45 19.45 12 20 12C20.55 12 21 12.45 21 13V19C21 20.1 20.1 21 19 21H5C3.9 21 3 20.1 3 19V5C3 3.9 3.89 3 5 3H11C11.55 3 12 3.45 12 4C12 4.55 11.55 5 11 5H6C5.45 5 5 5.45 5 6V18ZM15 5C14.45 5 14 4.55 14 4C14 3.45 14.45 3 15 3H20C20.55 3 21 3.45 21 4V9C21 9.55 20.55 10 20 10C19.45 10 19 9.55 19 9V6.41L9.87 15.54C9.48 15.93 8.85 15.93 8.46 15.54C8.07 15.15 8.07 14.52 8.46 14.13L17.59 5H15Z"
							fill="white" />
					</svg> </span
			></a>
			<% if(currentUser && spot.author.equals(currentUser._id)) { %>
			<a href="/spots/<%= spot._id %>/edit" class="btn btn--blue-light"
				>Edit</a
			>
			<form action="/spots/<%= spot._id %>?_method=DELETE" method="POST">
				<button class="btn btn--red">Delete</button>
			</form>
			<% } %>
		</div>
		<div class="spot__review">
			<div class="spot__reviewed">
				<div class="spot__rating">
					<img
						class="spot__rating-icon"
						src="/assets/icons/supreme-star.svg"
						alt="supreme star icon" />
					<% const reviewCount = spot.reviews.length; let
					averageRating = 0; if (reviewCount > 1) { const totalRatings
					= spot.reviews.reduce((sum, review) => sum + review.rating,
					0); averageRating = (totalRatings / reviewCount).toFixed(2);
					} else if (reviewCount === 1) { averageRating =
					spot.reviews[0].rating.toFixed(2); } %>
					<span class="spot__rating-number">
						<%= reviewCount > 0 ? averageRating : 0 %> / 5 (<%=
						reviewCount %>)
					</span>
				</div>
				<a class="link u-blue-text" href="#popup-reviews"
					>Read all reviews</a
				>
			</div>
			<div class="spot__new-review">
				<div class="heading-primary heading-primary--small">
					Already visited? Leave a review.
				</div>
				<form
					action="/spots/<%= spot._id %>/reviews"
					method="post"
					class="form">
					<div class="form__group">
						<select
							name="review[rating]"
							class="star-rating"
							required>
							<option value="">Select a rating</option>
							<option value="5">Excellent</option>
							<option value="4">Very Good</option>
							<option value="3">Average</option>
							<option value="2">Poor</option>
							<option value="1">Terrible</option>
						</select>
					</div>
					<div class="form__group">
						<textarea
							placeholder="Describe your experience"
							class="form__input form__input--textarea"
							name="review[body]"
							required></textarea>
					</div>
					<div class="form__group">
						<button class="btn">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</section>
	<section class="spot__info">
		<div class="spot__images">
			<% if(spot.images.length === 0) { %>
			<img
				class="spot__image"
				src="/assets/img/blank-image.png"
				alt="blank image placeholder" />
			<% } else if(spot.images.length === 1) { %>
			<img
				class="spot__image"
				src="<%= spot.images[0].url %>"
				alt="Image of <%= spot.name %>"
				crossorigin="anonymous" />
			<% } else { %>
			<div
				id="image-carousel"
				class="splide"
				aria-label="current spot images">
				<div class="splide__track">
					<ul class="splide__list">
						<% spot.images.forEach((image, i) => { %>
						<li class="splide__slide" data-splide-interval="3000">
							<img
								class="spot__image"
								src="<%= image.url %>"
								alt="Image <%= i + 1 %> of <%= spot.name %>"
								crossorigin="anonymous" />
						</li>
						<% }) %>
					</ul>
				</div>
			</div>
			<% } %>
		</div>
		<div class="spot__text">
			<div class="spot__name"><%= spot.name %></div>
			<div class="spot__location"><%= spot.location %></div>
			<div class="spot__description"><%= spot.description %></div>
		</div>
	</section>
</div>

<div class="popup" id="popup-reviews">
	<div class="popup__content reviews">
		<div class="reviews__heading">All Reviews</div>
		<a href="#" class="popup__close">&times;</a>
		<% if(spot.reviews.length > 0) { %>
		<div class="reviews__list">
			<% for(let review of spot.reviews) { %>
			<div class="reviews__item">
				<div class="reviews__rating">
					<img
						class="reviews__rating-icon"
						src="/assets/icons/supreme-star.svg"
						alt="supreme star icon" />
					<span class="reviews__rating-number">
						<%= review.rating %> / 5
					</span>
				</div>
				<div class="reviews__username">
					<%= review.author.username %>
				</div>
				<div class="reviews__body"><%= review.body %></div>
				<% if(currentUser && review.author.equals(currentUser._id)) { %>
				<form
					class="u-right-text"
					action="/spots/<%= spot._id %>/reviews/<%= review._id %>?_method=DELETE"
					method="POST">
					<button class="btn btn--red">Delete</button>
				</form>
				<% } %>
			</div>
			<% } %>
		</div>
		<% } else { %>
		<div class="reviews__empty">
			<img
				class="reviews__empty-image"
				src="/assets/icons/reviews-empty.svg"
				alt="sad face emoji" />
			<div>No reviews yet!</div>
		</div>
		<% } %>
	</div>
</div>

<script>
	const mapToken = "<%- process.env.MAPBOX_TOKEN %>";
	const spot = <%- JSON.stringify(spot) %>
</script>
<script src="/js/showPageMap.js"></script>

<script src="/star-rating/star-rating.min.js"></script>
<script>
	let stars = new StarRating(".star-rating", {
		tooltip: false,
	});
</script>

<% if(spot.images.length > 1) { %>
<script src="/vendor/splide/splide.min.js"></script>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		new Splide("#image-carousel", {
			rewind: true,
			rewindByDrag: true,
			autoplay: true,
			pauseOnHover: true,
		}).mount();
	});
</script>
<% } %>
